@model ProyectoEasyTicket.Models.ACFReviews

@{
    ViewData["Title"] = "Detalles de la Reseña";
}

<div class="container mt-5">
    <h1 class="text-primary mb-4">Detalles de la Reseña</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Comentario</dt>
                <dd class="col-sm-9">@Model.ACFComentario</dd>

                <dt class="col-sm-3">Calificación</dt>
                <dd class="col-sm-9">@Model.ACFCalificacion</dd>

                <dt class="col-sm-3">Fecha</dt>
                <dd class="col-sm-9">@Model.ACFFecha.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Evento</dt>
                <dd class="col-sm-9">@Model.ACFTicketID</dd>
            </dl>
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
        </div>
    </div>
</div>